@charset "UTF-8";

header{
    font-family: Arial, Helvetica, sans-serif;
}

.black{
    background-color: black;
    color: rgb(226, 226, 226);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.black p{
    margin: 20px;
}

.icon{
    width: 20%;
    text-align: left;
}

.icon i{
    margin-left: 10px;
}

.pink{
    width: 100%;
}

.logo{
    background-color: pink;
    font-size: 50px;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.inline{
    display: inline-block;
}

/*section*/

section{
    display: flex;
    width: 100%;
}

.text{
    width: 50%;
    height: 500px;
    text-align: center;
    padding: 50px;
}

.imagemmulher{

}

.imagemmulher img{
    width: 600px;
    height: 500px;
}