@charset "UTF-8";

header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.black{
    background-color: black;
    color: rgb(226, 226, 226);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.black p{
    margin: 0;
    margin: 14px;
}

.icon{
    display: flex;
    width: 20%;
    text-align: left;
    align-items: center;
}

.icon i{
    margin-left: 10px;
}

.pink{
    height: 100px;
    width: 100%;
    background-color: rgb(248, 192, 201);
}

.flexx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.logo{
   height: 50px;
   width: 60px;
   margin-left: 40px;
}

.nav{
    position: absolute;
    right: 50%;
    text-align: center;
    transform: translateX(50%);
}



*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.inline{
    display: inline-block;
}

/*section*/

section{
    display: flex;
    width: 100%;
}

.text{
    width: 50%;
    height: 500px;
    text-align: center;
    padding: 50px;
}

.imagemmulher{

}

.imagemmulher img{
    width: 600px;
    height: 500px;
}